<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Levels</key>
	<array>
		<dict>
			<key>Waves</key>
			<array>
				<dict>
					<key>WaitTime</key>
					<integer>5</integer>
					<key>Distance</key>
					<integer>15</integer>
					<key>Amount</key>
					<integer>6</integer>
					<key>Enemy</key>
					<string>squire</string>
				</dict>
				<dict>
					<key>WaitTime</key>
					<integer>25</integer>
					<key>Distance</key>
					<integer>15</integer>
					<key>Amount</key>
					<integer>16</integer>
					<key>Enemy</key>
					<string>squire</string>
				</dict>
			</array>
			<key>Paths</key>
			<array>
				<array>
					<dict>
						<key>x</key>
						<integer>800</integer>
						<key>y</key>
						<integer>500</integer>
					</dict>
					<dict>
						<key>x</key>
						<integer>600</integer>
						<key>y</key>
						<integer>400</integer>
					</dict>
					<dict>
						<key>x</key>
						<integer>400</integer>
						<key>y</key>
						<integer>400</integer>
					</dict>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>400</integer>
					</dict>
				</array>
			</array>
		</dict>
	</array>
</dict>
</plist>
